.dialogNewsletter {
    display: none;
}

.dialogNewsletter--aberto {
    display: block;
}

.dialogNewsletter-body {
    font-size: 18px;
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #8d8d8d;
    padding: 3em 1.5em 1.5em 1.5em;
    
}