.dialogNewsletter {
    display: none;
}

.dialogNewsletter--aberto {
    display: block;
}

.dialogNewsletter-body {
    font-size: 18px;
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #8d8d8d;
    padding: 3em 1.5em 1.5em 1.5em;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    position: fixed;
    display: inline-block;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -52%);
    z-index: 3;
    transition: .3s ease-in;
    
}